Transcribe-Server/bin
Transcribe-Server/__pycache__
Transcribe-Server/lib
Transcribe-Server/share
Transcribe-Server-Mac/.venv
Transcribe-Server-Mac/build
Transcribe-Server-Mac/dist
Takoto/dist/*
Takoto/node_modules/*
.DS_Store
*.wav
/Mac-Server/build
/Mac-Server/dist
sign.sh
*.pkg
/Takoto/src-tauri/target
.env
/Windows-Server/build
/Windows-Server/dist
/Takoto-App/src-tauri/resources/Transcription-Server
/Transcription-Server/dist
/Transcription-Server/build
Takoto-App/package-lock.json
/Mac-Package/Payload
/Takoto-App/src-tauri/binaries
/Takoto-App/.windsurf
/Takoto-App/src-tauri/src/pyannote-rs
